<p id="notice"><%= notice %></p>

<h1>Bubbles</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bubbles.each do |bubble| %>
      <tr>
        <td><%= link_to 'Show', bubble %></td>
        <td><%= link_to 'Edit', edit_bubble_path(bubble) %></td>
        <td><%= link_to 'Destroy', bubble, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bubble', new_bubble_path %>
